body {
  height: 100%;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.button {
  color: #333;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.03125rem;

  display: inline-flex;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 3.125rem;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
}
